body{
    background-color: black;
}

#photoPane{
    display: flex;
    flex-direction: column;
}

#photoPane * {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}
