.logo-img {
    height: 5em;
    width: 5em;
    padding: 7px;
    border-radius: 3px;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.nav-link{
    width: 6em;
    text-align: center;
    text-decoration: none;
    color: #00cccc;
    
}

a:hover{
    color:cyan;
}

.logo-img:hover {
    background-color: cyan;
}

#background {
    position: absolute;
    z-index: -999;
}

#name-tag {
    font-size: xx-large;
    padding: 4px;
}

#top-banner {
    padding: 1em;
    background-color: rgb(177, 177, 177,0.8);
    color: black;

    border-bottom: 3px;
    border-color: black;
    border-bottom-style: solid;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bottom-banner {
    padding: 1em;
    background-color: rgba(87, 9, 117, 0.5);

    border-bottom: 3px;
    border-color: black;
    border-bottom-style: solid;

    display: flex;
    align-items: center;
    justify-content:left;
}


#content {
    height: 90%;
    overflow:scroll;
    padding: 5%;
}

p {
    font-size: x-large;
    color: black;
}